/* styles.css */

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #0057b8;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0057b8;
    color: white;
    font-size: 2rem;
}

header,
main {
    display: none;
}

a:link a:visited {
    color: #FFD700;
    /* Gold color for links */
    text-decoration: none;
}

a:link a:active {
    color: #FFA500;
    /* Orange color for active links */
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #0057b8;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #0057b8;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}