/* styles.css */

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0057b8;
    color: white;
}

a:link a:visited {
    color: #FFD700;
    /* Gold color for links */
    text-decoration: none;
}

a:link a:active {
    color: #FFA500;
    /* Orange color for active links */
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}